In [1]:
Months = ["january", "february", "march", "april", "may", "june", "july", "august", "september", "october", "november", "december"]
Months

['january',
 'february',
 'march',
 'april',
 'may',
 'june',
 'july',
 'august',
 'september',
 'october',
 'november',
 'december']

In [8]:
Summer = list(range(6,10))
Summer

[6, 7, 8, 9]

In [18]:
print([Months[i] for i in Summer])

['july', 'august', 'september', 'october']

In [20]:
tmpSummer = [x*3 for x in Summer]
tmpSummer

[18, 21, 24, 27]

In [21]:
print([Months[i] for i in tmpSummer])

IndexError: list index out of range

In [22]:
mean_summer = sum(Summer) / len(Summer)
mean_summer

7.5

In [42]:
Months[int(mean_summer)]
#int auto round down float

'august'

In [24]:
from math import floor, ceil
print(Months[floor(mean_summer)])
print(Months[ceil(mean_summer)])

august
september

In [26]:
# create data frame
import pandas as pd
store_df = pd.read_csv("store-df-saved.csv")

In [27]:
store_df

   store.num  store.rev  store.visits store.manager
0          3        543            45         Annie
1         14        654            78          Bert
2         21        345            32         Carla
3         32        678            56          Dave
4         54        234            34          Ella

In [33]:
#get number of visits of Bert's store
store_df.iloc[1,2]

78

In [34]:
store_df.iloc[1,]

store.num          14
store.rev         654
store.visits       78
store.manager    Bert
Name: 1, dtype: object

In [37]:
from math import pi
def PieArea(r:float) -> float:
    """Return area with given radius"""
    return pi*r*r

In [38]:
r = [4,4.5,5,6]
print([PieArea(x) for x in r ])

[50.26548245743669, 63.61725123519331, 78.53981633974483, 113.09733552923255]

In [39]:
#rewrite with lambda
print(list(map(lambda x:pi*x*x,r)))

[50.26548245743669, 63.61725123519331, 78.53981633974483, 113.09733552923255]